/**************************** INDEX  ****************************/

.bodyIndex {
  background-color: $paletabackground;
}

.separacion {
  background-color: $paletabackground;
  height: 1px;

}

.botonsuscribe{
  border-radius: 30px;
  border: 0;
  padding: 5px;
  background: rgb(238,174,202);
  color: rgb(255, 255, 255);
  font-size: 20px;
  width: 150px;
  height: 60px;
}

.bodyIndex{
  overflow-x:hidden;
  position: relative;
}

.suscribe {
  margin: 15px;
  height: 260px;
  background-color: #e26e6c;
  text-align: center;
  align-items: center;
  border-radius: 15px;

  .textosuscribe{
    font-weight: bold;
    
  }
  .parrafosuscribe{
    font-style: italic;
    font-size: 19px;
  }
  @media screen and (min-width:992px) {
    padding: 30px;

  }
  
  
}

.sneakers {
  color: $titulocolor;
  font-size: 50px;
  text-align: center;
  letter-spacing: 15px;
  margin-top: 55px;
  margin-bottom: 55px;
}

.btnHome {
  width: 200px;
  padding: 10px 30px;
  background-color: white;
  border: none;
  color: black;
  border-radius: 50px;
  font-weight: bold;
  margin: 10px;
  font-size: 15px;
  transition: 0.3s;

  &:hover {
    background-color: transparent;
    color: #4551b5;
  }
}



.tarjeta {
  text-align: center;
  width: 350;
  gap: 15px;
  margin: 15px;
  padding: 20px;
}

.tarjetas {
  display: flex;
  justify-content: space-around;
  margin: 25px;
}

.textos {
  width: 510px;
  color: white;
}

.titulotarjeta {
  margin: 10px;
}

#tarjetasindex {
  transition: 0.2s;
  width: 450px;

  &:hover {
    transform: scale(1.1);
  }
}


/**************************** INDEX FIN ****************************/