// Variables 
$paletaprincipal: #4551b5;
$paletabackground: #0a141d;
$titulocolor: white;





@import "reset";
@import "footer";
@import "bodyIndex";
@import "bodyMerch";
@import "contact";
@import "aboutUs";
@import "app";









